include mixins/index
doctype html
html(lang="en")
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
   
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap' rel='stylesheet')

    link(rel="stylesheet" charset="utf-8" media="screen" type="text/css" href=assetURL("css/styles.css"))

  body(class=pageID)
    block header
      header.pc-header
        nav.pc-navbar
          .pc-navbar-left
            a.pc-navbar-toggle(href='#')
              svg(width='20' height='20' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                rect(y='9' width='20' height='2')
                rect(y='3' width='20' height='2')
                rect(y='15' width='20' height='2')
          .pc-navbar-center
            a.pc-navbar-item.pc-logo(href='/') 
              img(style='height: 4.2rem' src="https://proxycrawl.com/assets/images/logo-header.png")
    block content
    
    block footer

    script(src=assetURL("js/main-bundle.js") async)
    block eod
