@import 'scss/form';
@import 'scss/spinner';

.pc-section {
  padding: 40px;
  min-height: calc(100vh - 80px);

  .pc-forms {
    display: flex;
    flex-direction: column;

    align-items: center;

    .pc-top {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 20px;

      .pc-heading {
        @include text-heading();
      }

      .pc-text-light {
        @include text-light();

        font-weight: weight(regular);
      }
    }

    .pc-middle {
      display: flex;

      > .pc-one,
      .pc-two {
        margin: 20px;

        display: flex;
        flex-direction: column;
      }
    }
  }
}
