$primary-color: #222;
$secondary-color: #252e39;

$text-color: #fff;
$text-secondary-color: #ffffffb3;
$text-muted-color: #999;

$font-family: 'Roboto', sans-serif;

$font-weight: (
  'thin': 100,
  'regular': 300,
  'medium': 500,
  'bold': 700,
  'bolder': 900,
);
